[submodule "dependencies/boost"]
	path = dependencies/boost
	url = https://github.com/boostorg/boost.git
[submodule "dependencies/catch2"]
	path = dependencies/catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "dependencies/date"]
	path = dependencies/date
	url = https://github.com/HowardHinnant/date.git
